/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.theme-dark {
  --color-bg: hsl(232, 19%, 15%);
  --color-txt: hsl(0, 0%, 100%);
  --color-txt-sub: hsl(228, 34%, 66%);
  --color-green: hsl(146, 68%, 55%);
  --color-blue: hsl(210, 78%, 56%);
  --color-card: hsl(228, 28%, 20%);
}

.theme-light {
  --color-bg: hsl(225, 100%, 98%);
  --color-txt: hsl(230, 17%, 14%);
  --color-txt-sub: hsl(228, 12%, 44%);
  --color-green: hsl(146, 68%, 55%);
  --color-blue: hsl(210, 78%, 56%);
  --color-card: hsl(227, 47%, 96%);
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
  color: var(--color-txt);
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper__box {
  margin: 0 auto;
  padding: 30px 30px;
  max-width: 1460px;
  width: 100%;
}

.wrapper__box .attribution {
  font-size: 11px;
  text-align: center;
}

.wrapper__box .attribution a {
  text-decoration: none;
  color: var(--color-txt);
}

.wrapper__head {
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.wrapper__head .title {
  font-size: 36px;
  font-weight: 700;
}

.wrapper__head .total {
  padding-top: 11px;
  letter-spacing: 0.2px;
  font-size: 18px;
  font-weight: 700;
  color: var(--color-txt-sub);
}

.wrapper__head .style {
  margin-top: -7px;
  margin-right: 6px;
  display: flex;
  align-self: center;
  padding: 0;
  font-weight: 700;
}

.wrapper__head .style .name {
  margin-top: 4px;
  align-self: center;
  font-size: 19px;
  padding-right: 12px;
}

.wrapper__head .style .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.wrapper__head .style .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.wrapper__head .style .switch input:checked + .switch-slider {
  background: linear-gradient(to right, var(--color-green), var(--color-blue));
}

.wrapper__head .style .switch input:focus + .switch-slider {
  box-shadow: 0 0 1px var(--color-blue);
}

.wrapper__head .style .switch input:checked + .switch-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.wrapper__head .style .switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, var(--color-green), var(--color-blue));
  -webkit-transition: .4s;
  transition: .4s;
}

.wrapper__head .style .switch-slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  top: 4px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-bg);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.wrapper__head .style .switch-slider.round {
  border-radius: 34px;
}

.wrapper__cont {
  padding: 41px 5px 41px 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 35px;
}

.wrapper__cont .social__box {
  background-color: var(--color-card);
  width: 100%;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.wrapper__cont .social__box.border-top-fb {
  border-top: 5px solid deepskyblue;
}

.wrapper__cont .social__box.border-top-tw {
  border-top: 5px solid #1ca0f2;
}

.wrapper__cont .social__box.border-top-im {
  position: relative;
}

.wrapper__cont .social__box.border-top-im:after {
  position: absolute;
  top: 0;
  content: '';
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, #fdc468, #df4996);
  height: 5px;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
}

.wrapper__cont .social__box.border-top-utube {
  border-top: 5px solid #c4032a;
}

.wrapper__cont .social__head {
  padding: 37px 0;
  display: flex;
  justify-content: center;
}

.wrapper__cont .social__head__icon {
  width: 25px;
  height: 25px;
  vertical-align: top;
  background-size: cover;
}

.wrapper__cont .social__head__icon.fb {
  background: url("../images/icon-facebook.svg") no-repeat center;
}

.wrapper__cont .social__head__icon.tw {
  background: url("../images/icon-twitter.svg") no-repeat center;
}

.wrapper__cont .social__head__icon.im {
  background: url("../images/icon-instagram.svg") no-repeat center;
}

.wrapper__cont .social__head__icon.utube {
  background: url("../images/icon-youtube.svg") no-repeat center;
}

.wrapper__cont .social__head__group {
  padding-top: 2px;
  padding-left: 10px;
  align-self: center;
  font-weight: 700;
}

.wrapper__cont .social__cont {
  text-align: center;
}

.wrapper__cont .social__cont > .count {
  font-size: 60px;
  font-weight: 700;
}

.wrapper__cont .social__cont > .desc {
  padding-top: 10px;
  text-transform: uppercase;
  letter-spacing: 5.3px;
  color: #8b97c6;
}

.wrapper__cont .social__cont > .date {
  display: flex;
  justify-content: center;
  padding: 36px 0 30px 0;
  color: #3eda82;
  font-weight: 700;
  font-size: 16px;
}

.wrapper__cont .social__cont > .date > .icon-stat {
  margin-right: 6px;
  width: 16px;
  height: 16px;
  vertical-align: top;
  background-size: cover;
}

.wrapper__cont .social__cont > .date > .icon-stat.up {
  background: url("../images/icon-up.svg") no-repeat center;
}

.wrapper__cont .social__cont > .date > .icon-stat.down {
  background: url("../images/icon-down.svg") no-repeat center;
}

.wrapper__cont .social__cont > .date > .red {
  color: #c4032a;
}

.wrapper__info {
  padding: 21px 6px;
}

.wrapper__info__title {
  font-size: 30px;
  font-weight: 700;
}

.wrapper__info__cont {
  padding: 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 35px;
  grid-row-gap: 35px;
}

.wrapper__info__cont .info__box {
  background-color: var(--color-card);
  width: 100%;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.wrapper__info__cont .info__head {
  display: flex;
  justify-content: space-between;
  padding: 20px 38px 20px 30px;
  font-size: 18px;
  font-weight: 700;
}

.wrapper__info__cont .info__head > .title {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 700;
}

.wrapper__info__cont .info__head > .icon {
  margin-top: 12px;
  width: 25px;
  height: 25px;
  vertical-align: top;
  background-size: cover;
}

.wrapper__info__cont .info__head > .icon.fb {
  background: url("../images/icon-facebook.svg") no-repeat center;
}

.wrapper__info__cont .info__head > .icon.tw {
  background: url("../images/icon-twitter.svg") no-repeat center;
}

.wrapper__info__cont .info__head > .icon.im {
  background: url("../images/icon-instagram.svg") no-repeat center;
}

.wrapper__info__cont .info__head > .icon.utube {
  background: url("../images/icon-youtube.svg") no-repeat center;
}

.wrapper__info__cont .info__cont {
  padding: 16px 38px 30px 30px;
  display: flex;
  justify-content: space-between;
}

.wrapper__info__cont .info__cont > .count {
  font-size: 36px;
  font-weight: 700;
}

.wrapper__info__cont .info__cont > .percent {
  display: flex;
  align-self: flex-end;
  font-size: 14px;
  font-weight: 700;
}

.wrapper__info__cont .info__cont > .percent > .icon-stat {
  margin-right: 6px;
  width: 16px;
  height: 16px;
  vertical-align: top;
  background-size: cover;
}

.wrapper__info__cont .info__cont > .percent > .icon-stat.up {
  background: url("../images/icon-up.svg") no-repeat center;
}

.wrapper__info__cont .info__cont > .percent > .icon-stat.down {
  background: url("../images/icon-down.svg") no-repeat center;
}

.wrapper__info__cont .info__cont > .percent > .green {
  color: #3eda82;
}

.wrapper__info__cont .info__cont > .percent > .red {
  color: #c4032a;
}

@media screen and (max-width: 768px) {
  .wrapper__head__name {
    padding-bottom: 20px;
  }
  .wrapper__head__style {
    padding-top: 12px;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid #8b97c6;
  }
  .wrapper__cont {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 35px;
  }
  .wrapper__info__cont {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .wrapper__box {
    padding: 30px 25px;
  }
  .wrapper__head {
    flex-direction: column;
    padding: 10px 0;
  }
  .wrapper__head__name {
    padding-bottom: 20px;
  }
  .wrapper__head .title {
    font-size: 24px;
  }
  .wrapper__head .total {
    padding-top: 7px;
    font-size: 14px;
  }
}
