@import "reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$col-white: #fff;
$col-black: #000;
$col-blue: hsl(210, 78%, 56%);
$col-green: hsl(146, 68%, 55%);
$col-red: hsl(348, 97%, 39%);
$col-bg-dark-blue: hsl(230, 17%, 14%);
$col-bg-dark-blue-2: hsl(232, 19%, 15%);
$col-desaturated-dark: hsl(228, 28%, 20%);
$col-desaturated: hsl(228, 34%, 66%);

.theme-dark {
  --color-bg: hsl(232, 19%, 15%);
  --color-txt: hsl(0, 0%, 100%);
  --color-txt-sub: hsl(228, 34%, 66%);
  --color-green: hsl(146, 68%, 55%);
  --color-blue: hsl(210, 78%, 56%);
  --color-fb: hsl(195, 100%, 50%);
  --color-tw: hsl(203, 89%, 53%);
  --color-im1: hsl(37, 97%, 70%);
  --color-im2: hsl(329, 70%, 58%);
  --color-utube: hsl(348, 97%, 39%);

  --color-card: hsl(228, 28%, 20%);
}

.theme-light {
  --color-bg: hsl(225, 100%, 98%);
  --color-txt: hsl(230, 17%, 14%);
  --color-txt-sub: hsl(228, 12%, 44%);
  --color-green: hsl(146, 68%, 55%);
  --color-blue: hsl(210, 78%, 56%);
  --color-fb: hsl(195, 100%, 50%);
  --color-tw: hsl(203, 89%, 53%);
  --color-im1: hsl(37, 97%, 70%);
  --color-im2: hsl(329, 70%, 58%);
  --color-utube: hsl(348, 97%, 39%);

  --color-card: hsl(227, 47%, 96%);
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
  color: var(--color-txt);
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {

  &__box {
    margin: 0 auto;
    padding: 30px 30px;
    max-width: 1460px;
    width: 100%;

    .attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      text-decoration: none;
      color: var(--color-txt);
    }
  }

  &__head {
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;


    .title {
      font-size: 36px;
      font-weight: 700;
    }

    .total {
      padding-top: 11px;
      letter-spacing: 0.2px;
      font-size: 18px;
      font-weight: 700;
      color: var(--color-txt-sub);
    }

    .style {
      margin-top: -7px;
      margin-right: 6px;
      display: flex;
      align-self: center;
      padding: 0;
      font-weight: 700;

      .name {
        margin-top: 4px;
        align-self: center;
        font-size: 19px;
        padding-right: 12px;
      }

      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;

        input {
          opacity: 0;
          width: 0;
          height: 0;

          &:checked + .switch-slider {
            background: linear-gradient(to right, var(--color-green), var(--color-blue));
          }

          &:focus + .switch-slider {
            box-shadow: 0 0 1px var(--color-blue);
          }

          &:checked + .switch-slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
          }
        }

        &-slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(to right, var(--color-green), var(--color-blue));
          -webkit-transition: .4s;
          transition: .4s;

          &:before {
            position: absolute;
            content: "";
            height: 24px;
            width: 24px;
            top: 4px;
            left: 4px;
            bottom: 4px;
            background-color: var(--color-bg);
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
          }

          &.round {
            border-radius: 34px;
          }
        }
      }
    }
  }

  &__cont {
    padding: 41px 5px 41px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 35px;

    .social {

      &__box {
        background-color: var(--color-card);
        width: 100%;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        cursor: pointer;

        &.border-top-fb {
          border-top: 5px solid var(--color-fb);
        }

        &.border-top-tw {
          border-top: 5px solid var(--color-tw);
        }

        &.border-top-im {
          position: relative;

          &:after {
            position: absolute;
            top: 0;
            content: '';
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-image: linear-gradient(to right, var(--color-im1), var(--color-im2));
            height: 5px;
            width: 100%;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            -webkit-border-top-left-radius: 6px;
            -webkit-border-top-right-radius: 6px;
          }
        }

        &.border-top-utube {
          border-top: 5px solid var(--color-utube);
        }
      }

      &__head {
        padding: 37px 0;
        display: flex;
        justify-content: center;

        &__icon {
          width: 25px;
          height: 25px;
          vertical-align: top;
          background-size: cover;

          &.fb {
            background: url("../images/icon-facebook.svg") no-repeat center;
          }

          &.tw {
            background: url("../images/icon-twitter.svg") no-repeat center;
          }

          &.im {
            background: url("../images/icon-instagram.svg") no-repeat center;
          }

          &.utube {
            background: url("../images/icon-youtube.svg") no-repeat center;
          }
        }

        &__group {
          padding-top: 2px;
          padding-left: 10px;
          align-self: center;
          font-weight: 700;
        }
      }

      &__cont {
        text-align: center;

        > .count {
          font-size: 60px;
          font-weight: 700;
        }

        > .desc {
          padding-top: 10px;
          text-transform: uppercase;
          letter-spacing: 5.3px;
          color: var(--color-txt-sub);
        }

        > .date {
          display: flex;
          justify-content: center;
          padding: 36px 0 30px 0;
          color: var(--color-green);
          font-weight: 700;
          font-size: 16px;

          >.icon-stat {
            width: 16px;
            height: 16px;
            vertical-align: top;
            background-size: cover;

            &.up {
              background: url("../images/icon-up.svg") no-repeat center;
            }

            &.down {
              background: url("../images/icon-down.svg") no-repeat center;
            }
          }

          >.red {
            color: var(--color-utube);
          }
        }
      }
    }
  }

  &__info {
    padding: 21px 6px;


    &__title {
      font-size: 30px;
      font-weight: 700;
    }

    &__cont {
      padding: 30px 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 35px;
      grid-row-gap: 35px;

      .info {

        &__box {
          cursor: pointer;
          background-color: var(--color-card);
          width: 100%;
          border-radius: 6px;
          -moz-border-radius: 6px;
          -webkit-border-radius: 6px;
        }

        &__head {
          display: flex;
          justify-content: space-between;
          padding: 20px 38px 20px 30px;
          font-size: 18px;
          font-weight: 700;

          >.title {
            padding-top: 20px;
            font-size: 18px;
            font-weight: 700;
          }

          >.icon {
            margin-top: 12px;
            width: 25px;
            height: 25px;
            vertical-align: top;
            background-size: cover;

            &.fb {
              background: url("../images/icon-facebook.svg") no-repeat center;
            }

            &.tw {
              background: url("../images/icon-twitter.svg") no-repeat center;
            }

            &.im {
              background: url("../images/icon-instagram.svg") no-repeat center;
            }

            &.utube {
              background: url("../images/icon-youtube.svg") no-repeat center;
            }
          }
        }

        &__cont {
          padding: 16px 38px 30px 30px;
          display: flex;
          justify-content: space-between;

          >.count {
            font-size: 36px;
            font-weight: 700;
          }

          >.percent {
            display: flex;
            align-self: flex-end;
            font-size: 14px;
            font-weight: 700;

            >.icon-stat {
              margin-right: 6px;
              width: 8px;
              height: 14px;
              vertical-align: top;
              background-size: cover;

              &.up {
                background: url("../images/icon-up.svg") no-repeat center;
              }

              &.down {
                background: url("../images/icon-down.svg") no-repeat center;
              }
            }

            >.green {
              color: var(--color-green);
            }

            >.red {
              color: var(--color-utube);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .wrapper {

    &__cont {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 35px;
    }

    &__info {
      &__cont {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {

    &__box {
      padding: 30px 12px 30px 20px;
    }

    &__head {
      flex-direction: column;
      padding: 10px 4px;

      .style {
        justify-content: space-between;
        width: 100%;
        margin-right: 0;
        margin-top: 24px;
        border-top: 1px solid var(--color-txt-sub);

        .name {
          margin-top: 16px;
          font-size: 14px;
        }

        .switch {
          margin-top: 16px;
          margin-right: 1px;
          width: 48px;
          height: 24px;
        }

        .switch-slider:before {
          height: 18px;
          width: 18px;
          top: 3px;
          left: 2px;
        }
      }

      .title {
        font-size: 24px;
      }

      .total {
        padding-top: 8px;
        font-size: 14px;
      }

    }

  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    &__cont {
      padding: 31px 5px 41px 5px;
      grid-template-columns: 1fr;
      grid-row-gap: 25px;

      .social__head {
        padding: 24px 0;

        &__group {
          padding-left: 6px;
          font-size: 12px;
        }
      }

      .social__cont {
        .count {
          font-size: 53px;
        }

        > .desc {
          font-size: 13px;
          padding-top: 7px;
          letter-spacing: 4px;
        }

        >.date {
          padding: 26px 0 28px 0;
          font-weight: 400;
          font-size: 12px;

          >.icon-stat {
            width: 16px;
            height: 12px;
          }
        }
      }
    }

    &__info {
      padding: 3px;

      &__title {
        font-size: 24px;
      }

      &__cont {
        grid-template-columns: 1fr;
        grid-row-gap: 18px;

        .info__head {
          padding: 20px 31px 20px 24px;

          >.title {
            padding-top: 9px;
            font-size: 14px;
          }
          >.icon {
            margin-top: 3px;

          }
        }

        .info__cont {
          padding: 3px 31px 20px 24px;

          .count {
            font-size: 32px;
          }
        }
      }
    }
  }
}
